{% extends 'base.html.twig' %}

{% block title %}New Chapitres{% endblock %}

{% block body %}
    <h1>Create new Chapitres</h1>

    {{ include('chapitres_crud/_form.html.twig') }}

    <a href="{{ path('app_chapitres_crud_index') }}">back to list</a>
{% endblock %}
