{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="example-wrapper">

       
        
        <article class="premierePartie">
    <section class="textPremierePartie">
        <h1 class="votreMetier">Votre métier de demain, à portée de main</h1>
        <div class="developpez">Développez de nouvelles compétences dans le domaine de l’informatique et intégrer la formation de votre choix.</div>
        <section class="boutonsVotreMetier">
            <div class="demarer">Démarrer ma candidature</div>
            <div class="decouvrir">Découvrir les formations</div>
        </section>
    </section>
    <img src="../images/votreMetier.png" class="imageVotreMetier">
</article>
<article class="secondePartie">
    <section>
        <img src="../images/diplome.png" class="imageSecondePartie">
        <p class="titreSecondePartie">Diplômes certifiants</p>
        <p class="texteSecondePartie">Nos parcours procurent des titres reconnus par l’État</p>
    </section>
    <section>
        <img src="../images/mentor.png" class="imageSecondePartie">
        <p class="titreSecondePartie">Mentor</p>
        <p class="texteSecondePartie">Un expert du secteur vous suit de manière régulière</p>
    </section>
    <section>
        <img src="../images/rembourse.png" class="imageSecondePartie">
        <p class="titreSecondePartie">Remboursé si non embauché</p>
        <p class="texteSecondePartie">Un expert du secteur vous suit de manière régulière</p>        
    </section>
</article>
<article class="troisiemePartie">
    <p class="titreTroisiemePartie">Témoignages & sourires</p>
    <img src="../images/Ellipse 4.png">
    <p class="prenomTroisiemePartie">Austin</p>
    <p>"Too easy"</p>
    <img src="../images/fleche (1).png" class="flecheTroisiemePartie">
    <img src="../images/fleche (2).png" class="flecheTroisiemePartie">
</article>
<article class="quatriemePartie">
    <p>2023 © ADRAR Classrooms. Tous droits réservés.</p>    
        <img src="../images/Rectangle 8.png">
    <section class="flecheFin">
        <img src="../images/Vector(2).png" class="imageFlecheFin">
        <img src="../images/Vector(2).png"class="imageFlecheFin">
    </section>
</article>  


{% endblock %}





